<div class="browse">
    <h1>Public Plans - {{::school.name}}</h1>
    <div class="public-plans">
        <ul class="list-group">
            <a class="list-group-item" ng-repeat="plan in plans | filter:query" 
            ng-class="{ active: $parent.selectedPlan === plan }"
            ng-click="$parent.selectedPlan = plan">{{plan.title}}</a>
            <years ng-if="selectedPlan" plan="selectedPlan" readonly="true"></years>
        </ul>
    </div>
    <a class="return" ui-sref="home"><i class="fa fa-fw fa-arrow-circle-o-left"></i>Back</a>
</div>
