<div class="home">
    <navbar></navbar>
    <div class="content">
        <h2 class="plan-title" contenteditable ng-model="plan.title"></h2>
        <!-- Display for when there are no years -->
        <div ng-if="plan.years.length === 0" ng-include="'views/empty-view.html'"></div>

        <text-view plan="plan" ng-if="textMode"></text-view>
        <years plan="plan" id="the-plan" ng-if="!textMode"></years>
        <button class="btn btn-default switch-mode-btn" ng-click="textMode = !textMode">
            <i class="fa fa-toggle"></i>
        </button>
    </div> <!-- content -->
</div>
