<div class="years">
    <ol class="year-col" data-as-sortable="sortableOptions" data-ng-model="plan.years"
        data-is-disabled="::readonly">
        <li class="year-li" data-ng-repeat="year in plan.years" data-as-sortable-item>
        <div class="year-header" data-as-sortable-item-handle>
            <h3 ng-if="::!readonly" contenteditable ng-model="year.title"></h3>
            <h3 ng-if="::readonly">{{::year.title}}</h3>
            <div class="dropdown year-more">
                <i class="fa fa-ellipsis-h" data-toggle="dropdown" aria-hidden="true"></i>
                <ul class="dropdown-menu">
                    <li ng-click="removeYear($index)" ng-if="::!readonly">
                        <a><i class="fa fa-times delete-year-btn" aria-hidden="true"></i>&nbsp;&nbsp;Delete Year</a>
                    </li>
                    <li ng-click="addSemester(year)" ng-if="::!readonly">
                        <a><i class="fa fa-plus add-semester-btn" aria-hidden="true"></i>&nbsp;&nbsp;Add Term</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="semesters">
            <div ng-repeat="semester in year.semesters track by $index" class="semester">
                <div class="courseCol list">
                    <ul class="courses" data-as-sortable="sortableOptions" data-ng-model="semester.classes"
                        data-is-disabled="::readonly">
                        <li data-ng-repeat="c in semester.classes" data-as-sortable-item>
                        <div data-as-sortable-item-handle>
                            <course course="c" delete="deleteCourse" readonly="readonly"
                                    colorscheme="plan.colorscheme"
                                    ng-class="{ 'course-warning': !hasPrereqs(c) }"></course>
                        </div>
                        </li>
                        <button ng-if="::!readonly" class="btn btn-default add-class-btn" data-as-sortable-item
                            ng-click="addCourse(semester)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <div ng-if="::!readonly" class="delete-semester-btn"
                                ng-click="removeSemester(year,$index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </ul>
                </div>
                <p class ="credits">Credits</p>
                <p class ="credits">{{getCredits(semester)}}</p>
            </div>
        </div>
        </li>
    </ol>

    <button ng-if="::!readonly" class="btn btn-default add-year-btn"
        ng-click="addYear()" style="margin-left:15px"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Year</button>
</div>
