$bg-color: #E0E0E0;
$background: #E0E0E0;
$light-gray: #BDBDBD;
$gray: #9E9E9E;
$red: #F44336;
$dark-red: #E53935;
$darker-red: #D32F2F;
$green: #4CAF50;
$dark-green: #43A047;
$darker-green: #388E3C;
$blue: #2196F3;
$dark-blue: #1E88E5;
$darker-blue: #1976D2;
$orange: #FF9800;
$dark-orange: #FB8C00;
$darker-orange: #F57C00;

$warning-yellow: #F89406;
