$background: #E8E8E8;
$light-gray: #BDBDBD;
$gray: #9E9E9E;
$red: #F44336;
$card-background: #F5F5F5;
$shadow: #888888;
$black: #212121;
$courseColWidth: 88px;

@import url("course.css");
@import url("sidebar.css");

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background;
}

.plan-title {
  margin: 15px auto 5px 15px;
  font-weight: bold;
}

.year-col {
  flex: 0 0 auto;
  padding-left: 15px;
}

.year-col-placeholder {
  display: table-cell;
  padding-left: 15px;
  vertical-align: top;
  white-space: normal;
  min-width: 150px;
  background-color: $gray;
}

.semesters {
  display: flex;
}

.semester {
  padding-left: 10px;
  vertical-align: top;
}

.credits {
  color: $gray;
  font-weight: bold;
  font: inherit;  
}

.addCourseButton {
  margin: auto;
}

.cap {
  text-transform: uppercase;
}

.add-year-btn {
  margin-top: 11px;
  height: 46px;
}

.list {
  list-style: none outside none;
  margin-bottom: 20px;
  padding: 5px;
}

.courseCol {
  background: $card-background;
  box-shadow: 0 2px 3px $shadow;
  border-radius: 3px;
  width: $courseColWidth;
  min-height: 390px;
  max-height: 800px;
  text-align: center;
  position: relative;
}

.courses {
  list-style: none outside none;
  padding: 0;
  text-align: center;

  .empty-item-holder-hack {
    visibility: hidden;
  }
}

.add-class-btn {
  padding: 5px !important;
  margin-top: 5px;
  margin-bottom: 50px;
  width: $courseColWidth - 13;
}

.year-row {
  margin-top: 20px;
}

.year-header {
  padding: 10px;
  margin: 10px 0 10px 10px;
  background: $card-background;
  box-shadow: 0 2px 3px $shadow;
  border-radius: 3px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  position: relative;

  h3 {
    margin: 0;
    display: inline-block;
  }
}

.year-more {
  color: $gray;
  cursor: pointer;
  float: right;
  height: 47px;
  position: absolute;
  right: 0;
  top: 0;

  > i {
    padding: 10px;
    line-height: 27px;
  }
}

.year-more:active, .year-more.open {
  background: $light-gray;
}

.year-more:hover {
  color: $black;
}

.delete-semester-btn {
  display: inline-block;
  color: $light-gray;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.delete-semester-btn:hover {
  color: $red;
}

.year-header:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index: 10;
}

.error {
  color: $red;

  -moz-animation: cssAnimation 0s ease-in 9s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 9s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 9s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 9s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.course-edit-modal {
  .main-course-info {
    display: flex;
    flex-wrap: wrap;
  }

  .prereq-form {
    display: flex;
    margin-bottom: 5px;

    input {
      flex: 1;
      border-radius: 0;
    }

    button {
      flex: 0 0 auto;
      border-radius: 0;
    }

    .right-side {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .left-side {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .no-right-border {
      border-right: 0;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;

  .navbar {
    flex: 0 0 auto;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    overflow: auto;
  }

  .years {
    flex: 1;
  }

  // not an error - this centers plans
  years {
    margin: 0 auto;
  }
}

.year-placeholder {
  float: left;
}

.years {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;

  .year-li {
    float: left;
  }
}

li {
  &.as-sortable-item {
    background: none;
    border: none;
  }
}

.deletable-list-item {
  display: table;
  width: 100%;
  vertical-align: middle;

  // x button
  i.text-danger {
    display: table-cell;
    color: $light-gray;
    cursor: pointer;
    vertical-align: inherit;
  }

  p {
    margin: 0;
  }

  i.text-danger:hover {
    color: $red;
  }
}

.view-public-plans {
  .modal-body {
    display: flex;
  }

  .plan-list {
    flex: 0 0 auto;
  }

  .plan-preview {
    flex: 1;
    overflow-x: auto;
  }
}

.course-edit-modal {
  color-picker {
    position: absolute;
    margin-top: -1px;
    margin-left: -1px;

    span {
      display: inline-block !important;
      width: 15px !important;
      height: 15px !important;
      padding: 0 !important;
    }
  }
}

.modal-footer .flex-container {
  display: flex;

  button {
    flex: 1;
  }

  :first-child {
    margin-right: 10px;
  }
}

.profile-pic {
  height: 20px;
}
