@import 'course';
@import 'CoursePlanner';
@import 'flyover';
@import 'index';
@import 'navbar';
@import 'sidebar';
@import 'colors';

.full-height {
  height: 100%;
}

.home {
  @extend .full-height;
  background: $bg-color;
}

/* button tweaks */
.btn {
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 2px 3px $shadow;
}

.btn-primary {
  background-color: $blue;
}

.btn-primary:hover {
  background-color: $dark-blue;
}

.btn-danger {
  background-color: $red;
}

.btn-danger:hover {
  background-color: $dark-red;
}

.btn-success {
  background-color: $green;
}

.btn-success:hover {
  background-color: $dark-green;
}

.as-sortable-item {
  border: none;
}