@import 'course';
@import 'CoursePlanner';
@import 'flyover';
@import 'index';
@import 'navbar';
@import 'sidebar';
@import 'colors';
@import 'editPlanDetails';
@import 'browse';

.full-height {
  height: 100%;
}

.home {
  @extend .full-height;
  background: $bg-color;
}

.as-sortable-item {
  border: none;
}

/* button tweaks */
.btn {
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 2px 3px $shadow;
  color: $black;
}

.btn-primary {
  background-color: $blue;
  color: $text;
}

.btn-primary:hover {
  background-color: $dark-blue;
}

.btn-primary:active {
  background-color: $darker-blue;
}

.btn-danger {
  background-color: $red;
  color: $text;
}

.btn-danger:hover {
  background-color: $dark-red;
}

.btn-danger:active {
  background-color: $darker-red;
}

.btn-success {
  background-color: $green;
  color: $text;
}

.btn-success:hover {
  background-color: $dark-green;
}

.btn-success:active {
  background-color: $darker-green;
}

.btn-warning {
  background-color: $orange;
  color: $text;
}

.btn-warning:hover {
  background-color: $dark-orange;
}

.btn-warning:active {
  background-color: $darker-orange;
}

.modal-header .close {
  margin-top: -5px;
  padding: 10px;
  font-size: 24px;
}