<div class="course-edit-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Edit Course</h3>
    </div>
    <div class="modal-body">
        <div class="main-course-info">
            <!-- 1st row -->
            <labeled-text name="'Name'" model="c.name" style="flex:1 0 100%"></labeled-text>
            <!-- /1st row -->

            <!-- 2nd row -->
            <div style="display: flex;">
                <div class="form-group" style="flex:1">
                    <label for="deptInput">Department</label>
                    <color-picker ng-model="deptColor" options="{ name: 'dept-color', swatchOnly: true }"></color-picker>
                    <input type="text" class="form-control" id="deptInput"
                           placeholder="Department" ng-model="c.dept" />
                </div>

                <labeled-text name="'Number'" model="c.num" style="flex:1"></labeled-text>
                <labeled-text name="'Credits'" model="c.credits" style="flex:0 0 50px"></labeled-text>
            </div>
            <!-- /2nd row -->
        </div>

        <!-- 3rd row -->
        <div style="display: flex; ">
            <div class="form-group" style="flex:1">
                <label>Prerequisites</label>
                <input type="text" class="form-control left-side no-right-border prereq-dept" ng-model="prereq.dept" placeholder="Department"/>
            </div>

            <div class="form-group" style="flex:1">
                <label>&nbsp;</label>
                <input type="text" class="form-control right-side prereq-num" ng-model="prereq.num" placeholder="Number"/>
            </div>

            <button class="btn btn-default right-side add-prereq" style="flex:0 0 30px;" ng-click="addPrereq()"
                ng-disabled="!prereq.dept || !prereq.num">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- /3rd row -->

        <ul class="list-group">
            <li class="list-group-item deletable-list-item" ng-repeat="prereq in c.prereqs">
                <p>{{prereq.dept + '-' + prereq.num}}</p>
                <i class="fa fa-fw fa-lg fa-times text-danger" ng-click="removePrereq(prereq)"></i>
            </li>
        </ul>

        <label>Notes</label>
        <textarea ng-model="c.notes" placeholder="Notes" class="course-notes"></textarea>

    </div>
    <div class="modal-footer">
        <div class="flex-container">
            <button class="btn btn-danger pull-left" ng-click="delete()">Delete</button>
            <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>
    </div>
</div>
