<nav class="navbar navbar-default" style="border-radius:0px" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Course Planner (ALPHA)</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav">
                <li>
                <a href="#" ng-click="newPlan()" ng-switch-when="true">
                    <i class="fa fa-fw fa-file-o"></i>New
                </a>
                </li>

                <li>
                <a href="#" ng-click="savePlan()" ng-switch-when="true">
                    <i class="fa fa-fw fa-floppy-o"></i>Save<i ng-if="!planSaved()">*</i>
                </a>
                </li>

                <li>
                <a href="#" ng-click="openPlan()" ng-switch-when="true">
                    <i class="fa fa-fw fa-folder-open-o"></i>Open
                </a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li ng-switch-when="false">
                <a href="#" ng-click="login()"><i class="fa fa-fw fa-key"></i> Login</a>
                </li>
                <li ng-switch-when="true"><a href="#" ui-sref="browse">
                    <i class="fa fa-fw fa-book" aria-hidden="true"></i>Browse
                </a></li>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>
                    Plan
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="downloadPlan()">
                        <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                        Download Plan
                    </a></li>
                    <li><a href="#" ng-click="uploadPlan()">
                        <i class="fa fa-fw fa-upload" aria-hidden="true"></i>
                        Upload Plan
                    </a></li>
                    <li><a href="#" ng-click="editColorscheme()">
                        <i class="fa fa-fw fa-paint-brush" aria-hidden="true"></i>
                        Edit Colors
                    </a></li>
                    <li class="divider" ng-switch-when="true"></li>
                    <li ng-switch-when="true">
                    <a href="#" ng-click="togglePublic()">
                        <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                        {{ isPublic() ? 'Make Private' : 'Make Public'; }}
                    </a>
                    </li>
                </ul>
                </li>

                <li class="dropdown user-dropdown" ng-switch-when="true">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-exclamation-triangle fa-fw" ng-if="!user.school"></i>
                    <i class="fa fa-fw fa-user" ng-if="user.school"></i>
                    <!--<img class="profile-pic" ng-src="{{user.picture}}" /> -->
                    {{user.displayName.split(' ')[0]}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="editProfile()"
                        uib-tooltip="Add your school to get access to more features!"
                        tooltip-placement="left"
                        tooltip-enable="!user.school">
                    <a href="#">
                        <i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>
                        Edit Info
                        <i class="fa fa-exclamation-triangle fa-fw" ng-if="!user.school"></i>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="logout()">
                        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>Logout
                    </a></li>
                </ul>
                </li>

                <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF_vFzl44JjW0F6SlGVE7yZp7XvUvNZOImBvOAInZMDa3sQQ/viewform?usp=sf_link" target="_blank"><i class="fa fa-fw fa-comments"></i> Feedback</a>
                </li>

                <li id="open-help-modal"><a href="#" ng-click="help()">
                    <i class="fa fa-fw fa-question-circle"></i>Help
                </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
